$box-shadow-default: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans';
    background-color: #f7f7f8;
}

.hidden {
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.page {
    &-id {
        font-weight: bold;
        border-bottom: 1px solid lightblue;
        padding: 5px;
    }

    &-container {
        max-height: 800px;
        max-width: 800px;
        margin: 30px auto;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        box-shadow: $box-shadow-default;
        background-color: #fff;
    }

    &-tuples-container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    &-content {
        max-width: 200px;
        width: 50%;
        border: 1px solid lightblue;
        margin: 10px;
    }

    &-cell {
        width: 100%;
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid gray;
    }

    &-header {
        display: flex;
        border-bottom: 1px solid gray;
        padding: 3px;

        .page-cell {
            border: none;
        }
    }
}

.bucket {
    &-id {
        font-weight: bold;
        border-bottom: 1px solid darkviolet;
        padding: 5px;
    }

    &-container {
        max-height: 800px;
        max-width: 800px;
        margin: 30px auto;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        box-shadow: $box-shadow-default;
    }

    &-content {
        max-width: 200px;
        width: 50%;
        border: 1px solid darkviolet;
        margin: 10px;
    }

    &-cell {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    &-header {
        display: flex;
        border-bottom: 1px solid gray;
        padding: 3px;

        .page-cell {
            border: none;
        }
    }
}

.table {
    &-container {
        max-width: 800px;
        margin: 40px auto;
        box-shadow: $box-shadow-default;
        background-color: #fff;
    }

    &-header {
        display: flex;
        border-bottom: 1px solid gray;
    }

    &-cell {
        width: 100%;
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid gray;
        padding: 5px;
    }

    &-content {
        max-height: 500px;
        overflow: auto;
    }

    &-row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.search-object-container {
    box-shadow: $box-shadow-default;
    background-color: #2b3a84;
    color: #6d80e2;
    padding: 10px;
    margin: 10px;
}

.loading-icon {
    max-width: 30px;
    vertical-align: middle;
}

.hash-tuples-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.page-tuple,
.hash-tuple {
    display: flex;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid gray;
    line-height: 25px;
    width: 100%;

    &:last-child {
        border: none
    }

    div {
        width: 50%;
    }
}


.overflow-tuple {
    background: #ece85c;
    color: #af8b08;
}

.simulation-status {
    text-align: center;
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    justify-content: center;
}

.search-form {
    padding: 20px;
    background: white;
    box-shadow: $box-shadow-default;
    flex:1.25;
}

.simulation-info {
    box-shadow: $box-shadow-default;
    background-color: hotpink;
    padding: 15px;
    color: #490b0b;
    margin-right: 20px;
    flex:0.5;
}

.App {
    .header{
        font-family: "Roboto";
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        text-align: center;
    }

    .main-form {
        max-width: 450px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 60px;
        background: #fff;
        box-shadow: $box-shadow-default;

        &_input-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px 0;

            label {
                flex: 1;
            }

            input, textarea {
                flex: 2;
                min-height: 30px;
            }
        }

        .toggle-radio {
            width: 100%;
        }

        label {
            margin-bottom: 15px;
        }
    }
}

.submit-button {
    padding: 10px;
    text-transform: uppercase;
    min-width: 200px;
    background-color: #247b33;
    outline: none;
    border: none;
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}
