html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans';
  background-color: #f7f7f8; }

.hidden {
  visibility: hidden; }

.text-left {
  text-align: left; }

.bold {
  font-weight: bold; }

.page-id {
  font-weight: bold;
  border-bottom: 1px solid lightblue;
  padding: 5px; }

.page-container {
  max-height: 500px;
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff; }

.page-tuples-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.page-content {
  max-width: 350px;
  width: 50%;
  border: 1px solid lightblue;
  margin: 10px; }

.page-cell {
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid gray; }

.page-header {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 3px; }
  .page-header .page-cell {
    border: none; }

.bucket-id {
  font-weight: bold;
  border-bottom: 1px solid darkviolet;
  padding: 5px; }

.bucket-container {
  max-height: 500px;
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }

.bucket-content {
  max-width: 200px;
  width: 50%;
  border: 1px solid darkviolet;
  margin: 10px; }

.bucket-cell {
  width: 100%;
  text-align: center;
  font-size: 14px; }

.bucket-header {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 3px; }
  .bucket-header .page-cell {
    border: none; }

.table-container {
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff; }

.table-header {
  display: flex;
  border-bottom: 1px solid gray; }

.table-cell {
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid gray;
  padding: 5px; }

.table-content {
  max-height: 500px;
  overflow: auto; }

.table-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }

.hash-tuples-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.page-tuple,
.hash-tuple {
  display: flex;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid gray;
  line-height: 25px; }
  .page-tuple:last-child,
  .hash-tuple:last-child {
    border: none; }
  .page-tuple div,
  .hash-tuple div {
    width: 50%; }

.overflow-tuple {
  background: #ece85c;
  color: #af8b08; }

.simulation-info {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 300px;
  margin: 0 auto;
  background-color: hotpink;
  padding: 15px;
  color: #490b0b; }

.search-form {
  padding: 20px;
  background: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 550px;
  margin: 40px auto; }

.App .header {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  text-align: center; }

.App .main-form {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }
  .App .main-form_input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0; }
    .App .main-form_input-group label {
      flex: 1; }
    .App .main-form_input-group input, .App .main-form_input-group textarea {
      flex: 2;
      min-height: 30px; }
  .App .main-form .toggle-radio {
    width: 100%; }
  .App .main-form label {
    margin-bottom: 15px; }
  .App .main-form .submit-button {
    padding: 10px;
    text-transform: uppercase;
    min-width: 200px;
    background-color: #247b33;
    outline: none;
    border: none;
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0.7;
    cursor: pointer; }
    .App .main-form .submit-button:hover {
      opacity: 1; }
